@model IEnumerable<BasicBlog.category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Shared.cshtml";
}

<p>
    @Html.ActionLink("Create New", "CategoryAdd", null, new { @class = "btn btn-success" })
</p>

<link rel="stylesheet" href="~/Areas/Admin/Content/assets/plugin/datatables/media/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="~/Areas/Admin/Content/assets/plugin/datatables/extensions/Responsive/css/responsive.bootstrap.min.css">
<link href="~/Areas/Admin/Content/assets/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<div class="row small-spacing">
    <div class="col-xs-12">
        <div class="box-content">
            <h4 class="box-title">Article List</h4>
            <table id="example" class="table table-striped table-bordered display" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Thumbnail</th>
                        <th>Main Menu</th>
                        <th>Cat Order</th>
                        <th>Seo Link</th>

                        <th>İşlem</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Thumbnail</th>
                        <th>Main Menu</th>
                        <th>Cat Order</th>
                        <th>Seo Link</th>

                        <th>İşlem</th>

                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(item.definition, "Update/" + item.id)</td>
                            <td><img src="@item.image" alt="Alternate Text" /></td>
                            <td>@item.mainMenu</td>
                            <td>@item.catOrder</td>
                            <td>@item.seoLink</td>

                            <td>
                                @Html.ActionLink("Edit", "CategoryUpdate", "Category", new { id = item.id }, new { @class = "btn-xs btn-success" })
                                @Html.ActionLink("Delete", "CategoryDelete", "Category", new { id = item.id }, new { @class = "btn-xs btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.box-content -->
    </div>
</div>




